<!DOCTYPE html>
<html layout:decorator="template">
<body>
	<section layout:fragment="content" class="content">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Principal</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-widget="collapse"
							data-toggle="tooltip" title="Collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-info"> <i
									class="fa fa-envelope-o"></i>
								</span>

								<div class="info-box-content">
									<span class="info-box-text">E-mails não lidos</span> <span
										class="info-box-number">12</span>
								</div>
								<!-- /.info-box-content -->
							</div>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-success"> <i
									class="fa fa-flag-o"></i>
								</span>

								<div class="info-box-content">
									<span class="info-box-text">Score</span> <span
										class="info-box-number">680</span>
								</div>
								<!-- /.info-box-content -->
							</div>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-warning"> <i
									class="fa fa-files-o"></i>
								</span>

								<div class="info-box-content">
									<span class="info-box-text">Memorando</span> <span
										class="info-box-number">3</span>
								</div>
								<!-- /.info-box-content -->
							</div>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-danger"> <i
									class="fa fa-sticky-note-o"></i>
								</span>

								<div class="info-box-content">
									<span class="info-box-text">Lembretes</span> <span
										class="info-box-number">12</span>
								</div>
								<!-- /.info-box-content -->
							</div>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
					</div>
					<div class="row">
						<div class="col-md-12">
							<!-- Widget: user widget style 1 -->
							<div class="card card-widget widget-user">
								<!-- Add the bg color to the header using any of the bg-* classes -->
								<div class="widget-user-header bg-info-active">
									<h3 class="widget-user-username">João da Silva</h3>
									<h5 class="widget-user-desc">Professor DR</h5>
								</div>

								<div class="card-footer">
									<div class="row">
										<div class="col-sm-4 border-right">
											<div class="description-block">
												<h5 class="description-header">3</h5>
												<span class="description-text">Artigos Publicados</span>
											</div>
											<!-- /.description-block -->
										</div>
										<!-- /.col -->
										<div class="col-sm-4 border-right">
											<div class="description-block">
												<h5 class="description-header">3</h5>
												<span class="description-text">Turmas</span>
											</div>
											<!-- /.description-block -->
										</div>
										<!-- /.col -->
										<div class="col-sm-4">
											<div class="description-block">
												<h5 class="description-header">35</h5>
												<span class="description-text">Avaliações</span>
											</div>
											<!-- /.description-block -->
										</div>
										<!-- /.col -->
									</div>
									<!-- /.row -->
								</div>
							</div>
							<!-- /.widget-user -->
						</div>

					</div>
				</div>
				<!-- /.card-body -->
				<div class="card-footer"></div>
				<!-- /.card-footer-->
			</div>
			<!-- /.card -->

		<!-- /.content -->

	</section>
</body>
</html>